body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #eee;
}

header {
    background-color: #333;
    color: #eee;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.homepage-section {
    width: 300px; /* Adjust the width */
    height: 300px; /* Adjust the height */
    border-radius: 10px;
    background-color: #333;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease;
    text-align: center;
}

.homepage-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.homepage-section p {
    color: #ccc;
    margin-bottom: 20px;
}

.homepage-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.homepage-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #eee;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}